@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.app {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.particles-bg {
    z-index: 1;
    position: absolute;
  }
  
  body{
    background-image: linear-gradient(to top right, #bbc4bf, #a4c3b2, #a4c3b2, #6b9080, #727c78 );

  }

  :root {
   --primary-color: rgb(33, 49, 42); 
   --secondary-color: #6b9080;
   --tertiary-color: #a4c3b2;
  }



/* --------- */
/* Navbar Section  */
/* --------- */

.nav-wrapper{
  backdrop-filter: blur(2px)

}

.nav-bar {
    display: flex;
    justify-content: flex-end;
  }

  .nav-bar .nav-item {
    display: inline-block; 

  }

  
  .social-icons-nav{
    display: inline-block !important;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }

  

  .nav-bar .nav-item .nav-link {
    color: white !important;
    font-size: 1.6em !important;
    padding: 0.8rem 1.5rem !important;
    transition: all 0.3s ease-out 0s !important;
  }
  
  .nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: var(--tertiary-color);
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
  }
  
  .nav-item a:hover::after {
    width: 100%;
  }



/* --------- */
/* Home section */
/* --------- */

.home-bg {
  backdrop-filter: blur(2.4px);
}


.home-header {
    padding-top: 80px !important;
  }

  .home-content {
    padding: 9rem 0 2rem !important;
    color: whitesmoke;
    text-align: left;

 
  }
  
  .heading {
    font-size: 2.4em !important;
    padding-left: 50px !important;
  }
  
  .heading-name {
    font-size: 3em !important;
    padding-left: 45px !important;
  }
  
  .main-name {
    color: var(--secondary-color);
  }

  .color {
    color: var(--secondary-color);
  }

  
  /* .home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
    backdrop-filter: blur(5px);
  }
  
  .home-about-body {
    padding-top: 50px;
    font-size: 1.2em !important;
    text-align: left;
  } */
  
  .home-about-social {
    text-align: center !important;
    padding-top: 25px;
  }
  
  .home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }
  
  .home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: rgba(255, 255, 255, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
  }
  
  .home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--secondary-color);
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }
  
  .home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--tertiary-color);
  }
  
  .home-social-icons:hover {
    box-shadow: 0 0 5px var(--tertiary-color);
  }
  
  .social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .icon-color {
    color: var(--secondary-color)!important;
  }
  

/* --------- */
/* About section */
/* --------- */


.about-section{
  color: var(--primary-color) !important;
}

.about-section .row {
    display: flex;
    justify-content: space-between;
  }

.about-activity {
    list-style: none !important;
    text-align: left !important;
    padding-left: 1px !important;
    color: var(--primary-color) !important;
  }

  .skillset-heading{
    margin-top: 100px;
    text-align: center;
    color: var(--primary-color);
  }

  .personal-pic{
    border-radius: 20%;
    height: 100%;
    width: 100%;
    margin-top: 170px;
    margin-left: 50px;;
  }


.tech-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    border: 1.7px solid var(--primary-color) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px var(--primary-color) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
  }

  .tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid var(--secondary-color) !important;
  }




/* --------- */
/* Projects */
/* --------- */

.project-card-img{
    object-fit: cover;
    height: 200px;
    padding: 15px;
}

.skillset-heading{
    margin-bottom: 10px;
    color: var(--primary-color);
    font-size: 3.6em;
}

.skillset-heading2{
  color: var(--primary-color);
  font-size: 2em;
}

.project-section {
    position: relative !important;
    padding-top: 10px !important;
    padding-bottom: 90px !important;
    color: var(--primary-color);
}
  
  .project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }

  .project-card-view {
    box-shadow: 0 4px 5px 3px var(--primary-color) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
    color: var(--primary-color);
  }

  .project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px var(--secondary-color) !important;
  }

  .btn-primary { 
    color: #fff !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--primary-color)!important;
    margin-left: 50px;
  }
  
  .btn-primary:hover {
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-color: var(--tertiary-color) !important;
  }

  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }



/* --------- */
/* Resume */
/* --------- */

  .resume-btn{
    color: #ffffff;
    background: var(--primary-color);
    border: solid var(--secondary-color);
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;

  }

  .resume-btn:hover {
    color: var(--primary-color);
    border: solid var(--tertiary-color);
    background: var(--tertiary-color);
    box-shadow: 0 3px 3px 3px var(--primary-color) !important;
  
  }


/* --------- */
/* Contact */
/* --------- */
  
  
  .contact-title{
    font-size: 50px;
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 20px;
  }

  .contact-info {
    color: var(--primary-color);
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-form {
    color: var(--primary-color);
    padding-right: 20%;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 50px;

  }
  
  .contact-form button:hover {
    color: #ffffff;
    background: var(--secondary-color);
  }
  
  .contact-form input,
  .contact-form textarea {
    border: 1px solid var(--primary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
  
  }
  
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
  }
  
  .contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    font-size: 25px;
    border-radius: 10px;
  
  
  
  }
  
  .contact-info>* {
    flex: 1;
    margin: 15px;
  }
  
  
  .contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
  
  }
  
  
  .contact-info p,
  .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 25px;
    font-style: normal;
  }
  
  
  .contact-info a {
    color: var(--primary-color);
    display: inline;
  }
  
  .contact-info a:hover {
    color: var(--secondary-color);
    transition: .5s ease;
  }

  


/* --------- */
/* Footer */
/* --------- */


.footer {
    background-color: var(--secondary-color) !important;
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
  }

.footer-copywright {
    text-align: center !important;
  }

  .footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }

  .footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }

  .footer-body {
    z-index: 1;
    text-align: center !important;
  }




/* --------- */
/* Footer */
/* --------- */

/*Devices larger than 1024px*/
@media (min-width: 1024px) {
  h4 {
    font-size: 42px;
  }
}

/*Devices between 768px and 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    text-align: center !important;
  }

  .about-section{
    text-align: center !important;
    margin-left: 150px;
  }
  
  .personal-pic {

    display: flex;
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
  }

  .skillset-heading{
    margin-top: 10% !important;
    max-width: 400px;
    max-height: 300px;

  }
 
  .tech-icons {
    width: auto;
    height: auto;
    margin: 10px !important;
    text-align: center;
  }

  .tech-icons-container {

    width: 400px;
    height: auto;
    text-align: center;
  }

}


@media (max-width: 767px) {


  .nav-bar .nav-item .nav-link {
    padding: 0.7rem 1rem !important;
  }

  body{
    text-align: center !important;
  }
  
  .tech-icons {
    margin: 10px !important;
  }
  .personal-pic {
      margin-top: 50px;
      height: 300px;
      width: 320px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .resume-btn {
      margin-top: 250px;
    }
 
    .contact-info p {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%; 
      
    }

    .contact-info h2 {
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%; 
      
    }

    .contact-info {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%; /* Ensures the container takes up the full height */
      max-width: 250px;
    }
    
    .contact-content {
      max-width: 400px; /* Adjust the maximum width of the content */
    }

    .contact-form {
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 30px;
      padding-bottom: 50px;
    }
    .footer-copywright {
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
}